@model GymTrackerShared.Models.Exercise

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.RoutineId)

    @Html.AntiForgeryToken()

<div class="mb-2">
    @Html.LabelFor(m => m.MuscleTrained, new { @class = "form-label" })
    @Html.EnumDropDownListFor(m => m.MuscleTrained, new { @class = "form-select" })
</div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Name, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger fs-6" })
    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Weight, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger fs-6" })
    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Repetitions, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Repetitions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Repetitions, "", new { @class = "text-danger fs-6" })
    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Sets, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Sets, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sets, "", new { @class = "text-danger fs-6" })
    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.DayOfTraining, new { @class = "form-label" })
        @Html.EnumDropDownListFor(m => m.DayOfTraining, new { @class = "form-select" })
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Cancel", "Detail", "Routine", new { id = Model.RoutineId }, new { @class = "btn btn-outline-secondary" })
    </div>
}