@model GymTrackerShared.Models.Exercise
@{
    ViewBag.Title = "Detail";
}

<div>
    <a href="@Url.Action("Detail","Routine", new { id = Model.RoutineId })"
       class="d-block mt-3"><i class="fa-regular fa-circle-left fa-lg"></i></a>
</div>

<div class="mt-5">
    <h1 class="text-center mb-3 mb-lg-5">@Model.DisplayName</h1>

    <div class="table-responsive table-primary">
        <table class="table">
            <thead>
                <tr>
                    <th>Weight (pounds)</th>
                    <th>Repetitions</th>
                    <th>Sets</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var progress in Model.ProgressiveOverloads)
                {
                    <tr>
                        <td>@progress.Weight</td>
                        <td>@progress.Repetitions</td>
                        <td>@progress.Sets</td>
                        <td>@progress.DateCreated.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.ActionLink("View Summary", "Summary",
    new { id = Model.Id, routineId = Model.RoutineId, dayId = Model.DayOfTraining }, new { @class = "btn btn-primary" })
</div>
