@model GymTrackerShared.Models.Exercise

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Name - @Model.MuscleGroup.Name</h2>

<div class="exercise-attributes">

    <div class="exercise-attribute att-1">
        <h3>Weight</h3>
        <p>@Model.Weight lbs</p>
    </div>

    <div class="exercise-attribute att-2">
        <h3>Repetitions</h3>
        <p>@Model.Repetitions</p>
    </div>

    <div class="exercise-attribute att-3">
        <h3>Sets</h3>
        <p>@Model.Sets sets</p>
    </div>

</div>
