@model GymTrackerShared.Models.Exercise
@{
    ViewBag.Title = "Detail";
}

<div>
    <a href="@Url.Action("Detail","Routine", new { id = Model.RoutineId })"
       class="d-block mt-3"><i class="fa-regular fa-circle-left fa-lg"></i></a>
</div>

<h1 class="text-center mb-3 mb-lg-5 display-3">@Model.DisplayName</h1>

<div class="row">

    <div class="col-12">
        <div class="mt-5">

            <div class="row">

                <div class="col-12 col-lg-6">

                    <div class="row">
                        <div class="col-11 col-lg-5 card m-2 shadow-sm">
                            <div class="card-body">
                                <h5 class="text-muted fw-normal fs-5 mt-0">Weight</h5>
                                <h3 class="mt-3 mb-3 fs-3">@Model.CurrentProgress.Weight lbs</h3>
                            </div>
                        </div>

                        <div class="col-11 col-lg-5 card m-2 shadow-sm">
                            <div class="card-body">
                                <h5 class="text-muted fw-normal fs-5 mt-0">Repetitions</h5>
                                <h3 class="mt-3 mb-3 fs-3">@Model.CurrentProgress.Repetitions</h3>
                            </div>
                        </div>
                        <div class="col-11 col-lg-5 card m-2 shadow-sm">
                            <div class="card-body">
                                <h5 class="text-muted fw-normal fs-5 mt-0">Sets</h5>
                                <h3 class="mt-3 mb-3 fs-3">@Model.CurrentProgress.Sets</h3>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-6 mt-3">
                    <div class="row">
                        <div class="col">
                            <h5 class="text-muted fw-normal fs-5 mt-0">Last Month Progress</h5>
                            <h3 class="mt-3 mb-3 fs-6">@Model.LastPastMonthProgress.Weight lbs</h3>
                        </div>
                        <div class="col">
                            <h5 class="text-muted fw-normal fs-5 mt-0">Current Progress</h5>
                            <h3 class="mt-3 mb-3 fs-6">@Model.CurrentProgress.Weight lbs</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-12">
        <button id="show-history" class="btn btn-sm btn-primary">Show History</button>


        <div class="mt-2 progress-history">
            <div class="table-responsive table-primary">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Weight</th>
                            <th>Repetitions</th>
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var progress in Model.ProgressiveOverloads)
                        {
                            <tr>
                                <td>@progress.Weight lbs</td>
                                <td>@progress.Repetitions</td>
                                <td>@progress.Sets</td>
                                <td>@progress.DateCreated.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



<script src="~/Scripts/app.js"></script>
