@model GymTrackerShared.Models.ExerciseStats

<div class="accordion-item border-0">
    <form class="mt-3 mt-lg-4 accordion-header" id="heading-@Model.Id">
        <div class="row">
            <input type="hidden" name="Id" value="@Model.Id" />
            @Html.HiddenFor(m => m.DayOfTraining)
            <input type="hidden" name="RoutineId" value="@Model.RoutineId" />
            @Html.HiddenFor(m => m.Name)
            <div class="col-3">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#collapse-@(Model.Id)_@Model.ExerciseBaseId" aria-expanded="true" aria-controls="collapse-@(Model.Id)_@Model.ExerciseBaseId">@Model.Name</a>
            </div>
            <div class="col-3 position-relative">
                @Html.ValidationMessageFor(m => m.Weight)
                @Html.TextBoxFor(m => m.Weight, new { disabled = "", @class = "small exercise-inputs", size = "3" }) lbs
            </div>
            <div class="col-3 position-relative">
                @Html.ValidationMessageFor(m => m.Repetitions)
                @Html.TextBoxFor(m => m.Repetitions, new { disabled = "", @class = "small exercise-inputs", size = "3" })
            </div>
            <div class="col-3 position-relative">
                @Html.ValidationMessageFor(m => m.Sets)
                @Html.TextBoxFor(m => m.Sets, new { disabled = "", @class = "small exercise-inputs", size = "3" })

                <span class="edit"><i class="fa-regular fa-pen-to-square"></i></span>
            </div>
        </div>
    </form>
    <div id="collapse-@(Model.Id)_@Model.ExerciseBaseId" class="accordion-collapse collapse" aria-labelledby="heading-@Model.Id" data-bs-parent="#accordion-@Model.DayOfTraining">
        <div class="accordion-body">
            <div class="row">
                <div id="exercise-img-@Model.ExerciseBaseId" class="col-12 col-sm-5 col-md-4"></div>
                <div class="col-12 col-sm-7 col-md-7">
                    <canvas id="chart-@Model.Id" class="mychart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>