@model GymTrackerShared.Models.Routine

@{
    ViewBag.Title = "Add Routine";
}

<h2 class="h2">Add Routine</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

    @Html.LabelFor(r => r.Name, new { @class = "form-label" })
    <div class="input-group mb-3">
        @Html.TextBoxFor(r => r.Name, new { @class = "form-control" })
    </div>

    @Html.LabelFor(r => r.NumberOfDays, new { @class = "form-label" })
    <div class="input-group mb-3">
        @Html.TextBoxFor(r => r.NumberOfDays, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

