@model GymTrackerShared.Models.Routine

@{
    ViewBag.Title = "Detail";
    var trainindDayId = 0;
}

<h2 class="routine-header">@Model.Name</h2>

@TempData["Message"]

<div class="column">

    @foreach (var trainingDay in Model.ExerciseDays.GroupBy(ed => ed.TrainingDay))
    {
        <div class="exercises-column">
            <h3>@trainingDay.Key.Name</h3>

            <ul class="list-exercises">
                @foreach (var exercise in trainingDay)
                {
                    trainindDayId = exercise.TrainingDayId;
                    <li>
                        @Html.ActionLink(exercise.Exercise.Name, "Detail", "Exercise",
                        new { Id = exercise.Exercise.Id }, new { @class = "exercise" })
                    </li>
                }
                <li class="add-exercise-link">@Html.ActionLink("Add Exercise", "Add", "ExerciseDays"
                                             , new { routineId = Model.Id, dayId = trainindDayId}
                                             , new { @class = "add-exercise-button"})</li>
            </ul>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "delete-button" })
</div>

