@model GymTracker.ViewModels.RoutineDetailViewModel

@{
    ViewBag.Title = "My Routine";
}

<div class="mb-3 ">
    <form id="routine-form">
        @Html.HiddenFor(r => r.Routine.Id)
        <h1 id="routine-name" class="d-inline">@Model.Routine.Name</h1>
        @Html.TextBoxFor(r => r.Routine.Name, new { hidden = "", id = "routine-name-input" })
        <i id="edit-routine-name" class="fa-solid fa-pen position-absolute p-1"></i>
    </form>
</div>


<div class="bg-white rounded p-2 shadow">

    @if(Model.Exercises.Count() == 0)
    {
        <div class="text-center m-5">
            <p>No data added yet. @Html.ActionLink("Add exercises here.", "Index", "ExerciseInfo", new {  }, new { style = "color: #2c7be5;" })</p>
        </div>
    }

    <div class="accordion">
        @foreach (var trainingDay in Model.Exercises)
        {
            <div class="accordion-item border-0">

                <div id="@trainingDay.Key" class="border-bottom">
                    <h3 class="accordion-header" id="heading-@trainingDay.Key">
                        <button class="accordion-button bg-white fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@trainingDay.Key" aria-expanded="true" aria-controls="collapse-@trainingDay.Key">
                            @trainingDay.Key Day
                        </button>
                    </h3>

                    <div id="collapse-@trainingDay.Key" class="accordion-collapse collapse" aria-labelledby="heading-@trainingDay.Key">
                        <div class="accordion-body">

                            <div class="row" id="heading">
                                <div class="col-3"></div>
                                <div class="col-3">Weight</div>
                                <div class="col-3">Reps</div>
                                <div class="col-3">Sets</div>
                            </div>

                            <div class="accordion" id="accordion-@trainingDay.Key">
                                @foreach (var exercise in trainingDay)
                                {
                                    @Html.Partial("_Inputs", exercise)
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
   

</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/exercise.js"></script>
    <script src="~/Scripts/graphics-exercise-detail.js"></script>
}




