@model GymTrackerShared.Models.Routine

@{
    ViewBag.Title = "Detail";
    var trainindDayId = 0;
}

<a href="@Url.Action("Index")" class="d-block mt-3"><i class="fa-regular fa-circle-left fa-lg"></i></a>

<div class="text-center h1 mt-lg-5">@Model.Name</div>

@Html.Partial("_Message")

<div class="d-lg-flex justify-content-lg-center flex-lg-wrap h-75">

    @foreach (var trainingDay in Model.ExerciseDays.GroupBy(ed => ed.TrainingDay))
    {
        <div class="col-lg-3 card text-center mb-3 bg-secondary" style="min-width: 200px">
            <h3 class="card-header">@trainingDay.Key.Name</h3>

            <ul class="list-unstyled">
                @foreach (var exercise in trainingDay)
                {
                    trainindDayId = exercise.TrainingDayId;
                    <li class="mb-2">
                        @Html.ActionLink(exercise.Exercise.Name, "Detail", "Exercise",
                        new { Id = exercise.Exercise.Id }, new { @class = "link-primary" })
                    </li>
                }
                <li class="mt-4">@Html.ActionLink("Add Exercise", "Add", "ExerciseDays"
                                             , new { routineId = Model.Id, dayId = trainindDayId}
                                             , new { @class = "btn btn-primary"})</li>
            </ul>
        </div>
    }
</div>



