@model List<GymTrackerShared.Models.Routine>

@{
    ViewBag.Title = "Routines";
}


<h1 class="text-center mb-3 mt-lg-5 mb-lg-5">Routines</h1>

@Html.Partial("_Message")

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Days</th>
        </tr>
    </thead>
    @foreach (var routine in Model)
    {
        <tr>
            <td>@Html.ActionLink(routine.Name, "Detail", new { id = routine.Id }, new {@class = "link-dark"})</td>
            <td>@routine.NumberOfDays</td>
            <td><a href="@Url.Action("Delete", new { id = routine.Id})"><span class="fa-regular fa-trash-can"></span></a></td>
            <td><a href="@Url.Action("Edit", new { id = routine.Id})"><span class="fa-regular fa-pen-to-square"></span></a></td>
        </tr>
    }
</table>

<a href="@Url.Action("Add")"><span class="fa-solid fa-circle-plus fa-3x"></span></a>



