@{ 
    var applicationName = "Gym Tracker";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @applicationName</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" runat="server" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" runat="server" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" runat="server" type="text/css" />
    <script src="https://kit.fontawesome.com/552a1cbc28.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <div class="d-flex flex-column flex-lg-row min-vh-100">

        <div class="side-bar d-lg-flex flex-lg-column">
            <div class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid flex-lg-column">
                    @Html.ActionLink(applicationName, "Index", "Routine", new { area = "" }, new { @class = "navbar-brand" })
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav text-center flex-lg-column">
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Routine", new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Exercises", "Index", "Exercise", new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Add Routine", "Add", "Routine", new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer d-none d-lg-block mb-lg-auto">
                <p class="text-light">&copy; @DateTime.Now.Year - Ismael Liriano</p>
            </div>
        </div>

        <div class="flex-grow-1">
            <div class="container body-content h-75">
                @RenderBody()

            </div>
        </div>

        <footer class="d-flex justify-content-around mb-auto d-lg-none">
            <div class="mt-3">
                <p class="text-light">&copy; @DateTime.Now.Year - Ismael Liriano</p>
            </div>
            <div class="mt-3">
                <p>
                    <a class="text-light" href="https://github.com/ismaelliriano12" target="_blank">
                        <i class="fa-brands fa-github fa-lg"></i>
                    </a>
                    <a class="text-light mx-2" href="https://www.linkedin.com/in/ismael-liriano-aa2b47213/" target="_blank">
                        <i class="fa-brands fa-linkedin fa-lg"></i>
                    </a>
                </p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    
</body>
</html>