@{ 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" runat="server" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" runat="server" type="text/css" />
    <script src="https://kit.fontawesome.com/552a1cbc28.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/chart.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap" rel="stylesheet">
    @RenderSection("Head", required: false)
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="bg-primary">

    <div class="shrink">
        
        <div class="row min-vh-100">

            <div class="col-lg-2 d-lg-flex flex-lg-column justify-content-lg-between bg-primary">
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="container flex-lg-column">
                        <div>
                            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            @Html.ActionLink("Gym Tracker", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav text-lg-center flex-lg-column mt-lg-5">
                                <li class="nav-item">@Html.ActionLink("Home", "Index", "Dashboard", new { }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Account", "ManageAccountData", "User", new { }, new { @class = "nav-link" })</li>
                                <li class="nav-item dropdown">@Html.ActionLink("My routine", "Detail", "Routine", new { }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Exercises", "Index", "ExerciseInfo", new {}, new { @class = "nav-link"})</li>
                                <li class="nav-item"><a class="nav-link" href="#">Today's meals</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-10 bg-primary">
                <div class="body-content overflow-auto overflow-content">
                    <div class="mb-3">
                        <div class="mb-3">
                            <div class="navbar navbar-expand-lg navbar-light bg-primary justify-content-end container">

                                <a href="~/user/profile" id="profile-link"><i class="fa-regular fa-circle-user mx-5"></i></a>
                            </div>
                        </div>
                        @RenderBody()
                    </div>
                    <footer class="">
                        <div class="col mt-3">
                            <p class="fs-6">&copy; @DateTime.Now.Year Created by <a style="color: #2c7be5;" href="https://ismaelliriano.dev">ismaelliriano</a></p>
                        </div>
                    </footer>
                </div>
                
            </div>

            

        </div>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>