@{ 
    var applicationName = "Gym Tracker";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @applicationName</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" runat="server" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" runat="server" type="text/css" />
    <script src="https://kit.fontawesome.com/552a1cbc28.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/chart.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <div class="d-flex flex-column flex-lg-row min-vh-100">


        <div class="col-lg-2 d-lg-flex flex-lg-column justify-content-lg-between bg-primary">
            <div class="navbar navbar-expand-sm navbar-light">
                <div class="container-fluid flex-lg-column">
                    @Html.ActionLink(applicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand mt-lg-3" })
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav text-lg-center flex-lg-column mt-lg-5">
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-target="#dropdown-menu" data-bs-toggle="collapse" aria-expanded="false">
                                    My routines
                                </a>
                                <div class="collapse" id="dropdown-menu">
                                    <ul class="dropdown-menu bg-primary border-0">
                                    </ul>
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card-footer d-none d-lg-block bg-primary">
                <p class="">&copy; @DateTime.Now.Year Ismael Liriano</p>
            </div>
        </div>


        <div class="col-lg-10 flex-grow-1 background-image">
            <div class="container body-content overflow-auto">
                @RenderBody()

            </div>
        </div>

        <footer class="d-flex justify-content-around mb-auto d-lg-none bg-primary">
            <div class="mt-3">
                <p class="">&copy; @DateTime.Now.Year Ismael Liriano</p>
            </div>
            <div class="mt-3">
                <p>
                    <a class="text-dark" href="https://github.com/ismaelliriano12/gym-tracker" target="_blank">
                        <i class="fa-brands fa-github fa-lg"></i>
                    </a>
                </p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/get-routines.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>