@model GymTrackerShared.Models.ExerciseDay
@{
    ViewBag.Title = "Detail";
}

<div>
    <a href="@Url.Action("Detail","Routine", new { id = Model.RoutineId })"
       class="d-block mt-3"><i class="fa-regular fa-circle-left fa-lg"></i></a>
</div>

<div class="mt-5">
    <h1 class="text-center mb-3 mb-lg-5">@Model.Exercise.DisplayName</h1>

    <div class="table-responsive table-primary">
        <table class="table">
            <thead>
                <tr>
                    <th>Weight (pounds)</th>
                    <th>Repetitions</th>
                    <th>Sets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Exercise.Weight</td>
                    <td>@Model.Exercise.Repetitions</td>
                    <td>@Model.Exercise.Sets</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



